*{
    margin: 0;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

h2{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .3);
    height: 80vh;
    width: 25%;
    padding: 50px;
}

#signup{
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .3);
    height: 100vh;
    width: 25%;
    padding: 50px;
}

img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.row, .f, .check, .btn, .footer, .next{
    margin-bottom: 30px;
    width: 100%;
}

.row input{
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(176, 175, 175);
    border-radius: 5px;
    width: 95%;
}

.btn button{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #005B96;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .4);
    cursor: pointer;
}

.f{
    text-align: end;
}

.f a{
    text-decoration: none;
    color: rgb(96, 96, 96);
}

.next{
    text-align: center;
    opacity: .6;
}

.next span{
    border: 1px solid rgb(178, 177, 177);
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.next .strike{
    border: 1px solid gray;
    position: relative;
    top: -10px;
    z-index: -100;
}

.footer{
    text-align: center;
}


.footer .fa{
    border: 3px solid black;
    padding: 10px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.footer .fa-google{
    color: #005B96;
    border: 3px solid #005B96;
}

.nav {
    text-align: center;
}

.alert-danger{
    background-color: rgba(254, 60, 86, 0.586);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid red;
    font-size: 20px;
    color: rgb(64, 2, 2);
    display: none;
}

.alert-success{
    background-color: rgba(6, 167, 94, 0.586);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(2, 103, 58, 0.586);
    font-size: 20px;
    color: rgba(1, 36, 20, 0.758);
    display: none;
}

.alert-danger.block {
    display: block;
}

.alert-success.block {
    display: block;
}

@media screen and (max-width: 1024px) {
    form{
        height: 100vh;
        width: 89%;
        padding: 300px 20px 200px 20px;
    }

    #signup{
        height: 100vh;
        width: 89%;
        padding: 300px 20px 200px 20px;
    }
}
@media screen and (max-width: 412px) {
    form{
        height: 100vh;
        width: 89%;
        padding: 20px;
    }
    #signup{
        height: 100vh;
        width: 89%;
        padding: 20px;
    }
}
@media screen and (max-width: 375px) {
    form{
        height: 100vh;
        width: 89%;
        padding: 300px 20px 200px 20px;
    }
    #signup{
        height: 100vh;
        width: 89%;
        padding: 300px 20px 200px 20px;
    }
}