{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service Agent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/ai-logo.jpg' %}" type="image/x-icon">
</head>
<body>
    <div class="conn">
        <header>
            <ul>
                <li>
                    <img src="{% static 'img/ai-logo.jpg' %}" alt="">
                </li>
            </ul>
            <ul>
                <li>
                    <img src="{% static 'img/alt-logo.jpg' %}" alt="">
                </li>
            </ul>
        </header>
        <div class="bot">
            <span>Customer Service Agent</span>
            <img src="{% static 'img/bot.png' %}" alt="" height="50" width="50">
        </div>
        <main>
            <div class="body">
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <div class="bot-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed corporis beatae animi debitis ab sapiente suscipit eveniet explicabo aperiam dolor dignissimos incidunt dolore voluptatem vero, tempore perferendis accusamus consectetur.</span>
                </div>
                <div class="user-chat">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a reiciendis explicabo accusantium! Amet eaque quisquam ipsam totam consequuntur eveniet, sequi aut soluta, fuga rem saepe id qui molestiae? Velit!</span>
                </div>
                <form >
                    <div class="chat-input">
                        <input type="text" name="" id="" placeholder="How may I be at service today?..">
                        <button></button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>