{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service Agent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/ai-logo.jpg' %}" type="image/x-icon">
</head>
<body>
    <div class="conn">
        <header>
            <ul>
                <li>
                    <img src="{% static 'img/ai-logo.jpg' %}" alt="">
                </li>
            </ul>
            <ul>
                <li>
                    <img src="{% static 'img/alt-logo.jpg' %}" alt="">
                </li>
            </ul>
        </header>
        <div class="bot">
            <span>Customer Service Agent</span>
            <img src="{% static 'img/bot.png' %}" alt="" height="50" width="50">
        </div>
        <main>
            <div class="body">
                <div class="chat">

                </div>
                <form action="/ask" method="post" id="msg">
                    {% csrf_token %}
                    <div class="chat-input">
                        <input type="text" name="message" id="message" placeholder="How may I be at service today?..">
                        <button></button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script src="{% static 'js/JQ.js' %}"></script>

    <script type="text/javascript">
        function fetchConversationData() {
            $.ajax({
                url: '/fetch_conversation_data/',  // URL to your Django view
                method: 'GET',
                success: function(response) {
                    if (response.status === 'success') {
                        const conversationData = JSON.parse(response.conversation);
                        
                        // Clear existing conversation content
                        $('.chat').empty();
    
                        // Iterate through the fetched conversation data and update the UI
                        conversationData.forEach(conversation => {
                            const user_q = conversation.fields.user_question;  
                            const bot_r = conversation.fields.bot_response;  // Assuming conversation has 'message' field
                            const messageHtml = 
                            `<div class="user-chat">
                                <span>${user_q}</span>
                             </div>
                             <div class="bot-chat">
                                <span>${bot_r}</span>
                             </div>
                                `;
                            $('.chat').append(messageHtml);
                        });
                        // Scroll to the bottom of the conversation list
                        const con = document.querySelector('.body');
                        if (con) {
                            con.scrollTo({
                                top: con.scrollHeight,
                                behavior: 'smooth'
                            });
                        }
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching conversation data: ", error);
                }
            });
        }
    
        // Fetch data every 5 seconds for real-time updates
        setInterval(fetchConversationData, 5000);
    
        // Initial fetch on page load
        fetchConversationData();
    </script>

    <script>
        // ajax
        $(document).on('submit', '#msg', function (e){
            e.preventDefault();
            var green = $(".alert-success");
            var red = $(".alert-danger");
            var chat_msg = $('#message');
            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/ask/',
                data: formData,
                processData: false, 
                contentType: false,
                success: function (response){
                    var success = response['success'];
                    if(success){
                        chat_msg.val('');
                        // NORMAL ALERT warning, error, success
                        red.removeClass("block");
                        green.html('');
                        green.addClass("block");
                        green.append(response['message']);
                    }else{
                        green.removeClass("block");
                        red.html('');
                        red.addClass("block");
                        red.append(response['message']);
                    }

                }
            });
        });
    </script>
</body>
</html>